* {
    margin:0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 1.6rem;
    justify-content: center;
    text-align: center;
    padding: 10px 0px;
}
p{
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: center;
}

strong{
    color:#425385;
}






/* BLOG */

.backgroundBlog{
    background-color: #7887ad;
    padding-bottom: 100px;
}



#blog{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:40px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.blog-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
    padding-top: 40px;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width:350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-img{
    width:100%;
    height:auto;
}
.blog-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display:flex;
    flex-direction: column;
}
.blog-text span{
    color: #4c57b6;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text .blog-title:hover{
    color: #4c57b6;
    transition: all ease 0.3s;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #4c57b6;
    transition: all ease 0.3s;
}
@media(max-width:1250px){
    .blog-box{
        width:300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
@media(max-width:550px){
    .blog-box{
        margin: 23px 10px;
        width:100%;
    }
    #blog{
        padding: 20px;
    }
}

/* Nav */



header{
    background-color:#2b2b2b ;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: center;
    align-items: space-between;
    gap: 60px;
}

.nav-branding{
    font-size: 1.5rem;
    font-weight: 300;
}

.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color:#fff;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        background-color: #2b2b2b;
        width: 100%;
        text-align: center;
        transition: 0.3s;

    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active{
        left:0;
    }
}




/* FOOTER */


#footer {
    position: relative;
    overflow: hidden;
    border-top: solid 2px #e5e5e5;
    background: #f0f0f0;
    padding: 6em 0 0 0;
    
}

    #footer form input[type="text"],
    #footer form input[type="email"],
    #footer form input[type="password"],
    #footer form select,
    #footer form textarea {
        background: #f7f7f7;
    }

        #footer form input[type="text"]:focus,
        #footer form input[type="email"]:focus,
        #footer form input[type="password"]:focus,
        #footer form select:focus,
        #footer form textarea:focus {
            background: #fff;
        }

    #footer h2 {
        text-align: center;
    }


    /* Services */

   
 .flex-container{
	width: 50%;
	display: flex;
	gap: 10px 10px;
	padding-bottom: 20px;
	animation: slide-in-left 1s ease-in-out both;
    margin: auto;
 }



 
 .flex-container h1 {
	color:rgb(33, 38, 78);
	padding-top: 30px;
	padding-bottom: 45px;
 }


 .flex-container h2 {
	font-size: 1rem;
	font-weight: bold;
 }


.flex-container img {
	width: 30%;
	
}


/* Logo */

.opener {
    width: 55%;
    margin-left: 30px;
}

.logo img {
    width: 100%;
}



/* Opener */

.lighthouse{
    height: 500px;
    width:100%;
    display:flex;
    position:relative;
    align-items: center;
    flex-direction: column;
    padding-top: 135px;
}

.lighthouse::before{
    content: '';
    background-image: url('../css/images/dreamstime_xxl_141599915.jpg');
    background-size: cover;
    position:absolute;
    opacity: 0.35;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.lighthouse h1, h2, h3 {
    position: relative;
    color:#242529;
    text-align: center;
    line-height: 1.4;
}
.lighthouse h1{
    font-weight: 800;
}

.lighthouse h2{
    font-size: 3.9rem;
    font-weight: 900;
    color: #425385;
    padding-bottom: 30px;
}

.lighthouse h3{
    padding-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 800;
    color:#0c0d0e;
}

.button > a{
    color: white;
    text-decoration: none;
    box-shadow: none;
}


.button {
	 background: rgb(182, 44, 44);
	 display: inline;
	 padding: 10px 13px;
	 border-radius: 4%;
	  cursor: pointer;
      position: relative;
      font-weight: 700;
}

@media(max-width:768px){
    .lighthouse h1{
        font-size: 1.2rem;
        padding-bottom: 20px;
    }
    .lighthouse h2{
        font-size: 2.3rem;
    }
    .lighthouse h3{
        font-size: 1rem;
        width: 70%;
    }

}

@media(max-width: 950px){
    .opener{
        width: 100%;
        padding-bottom: 100px;
        margin: auto;
    }
    .services{
        width:100%;
    }
    .flexbox{
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .logo img{
        width: 70%;
        padding-bottom: 40px;
    }
    
    .logo{
        text-align: center;
        margin:auto;
    }
    
}

@media(min-width: 950px){
    .lighthouse{
        height: 650px;
        padding-top: 200px;
        
    }

    .logo{
        width: 70%;
        margin: auto;
    }
   
}

@media(min-width:1500px){
    .opener{
        width: 40%;
    }
    .about{
        width: 60%;
        margin: auto;
    }
}

/* Opener and Services */

.flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}


/* About Us */

#aboutUs{
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
}

#aboutUs h1{
    text-align: center;
    color:#425385;
    font-size: 2.9rem;
    padding-top: 60px;
    
}

#aboutUs h2{
    color:#383846;
    font-size: 1.5rem;
    padding-top: 50px;
}

.blog-heading a {
    font-size: 2.3rem;
    padding-top: 45px;
    
}

.blog-heading a:hover{
    color:#425385;
}
